.husky
.vscode
node_modules/
build/
src/

/.eslintignore
/.eslintrc.cjs
/.lintstagedrc.cjs
/.prettierrc.cjs
/commitlint.config.cjs
/nodemon.json
/tsconfig.json
/rollup.config.js
tsconfig.tsbuildinfo
types.d.ts
.gitignore
